#image:
#  registry: quay.io
#  repository: keycloak/keycloak
#  tag: 26.3.3

image:
  repository: bitnamilegacy/keycloak
  tag: 26.3.3-debian-12-r0

auth:
  adminUser: ${KEYCLOAK_ADMIN_USER}
  adminPassword: ${KEYCLOAK_ADMIN_PASSWORD}

#global:
#  security:
#    allowInsecureImages: true

#image:
#  registry:  quay.io
#  repository: keycloak/keycloak
#  tag: 26.5.1

externalDatabase:
  host: ${SQLSERVER_HOST}
  port: ${SQLSERVER_PORT}
  user: ${SQLSERVER_USER}
  database: ${SQLSERVER_DATABASENAME}
  password: ${SQLSERVER_PASSWORD}
#  existingSecret: passwords

postgresql:
  enabled: false

extraEnvVars:
  - name: KC_DB # override values from the conf file
    value: 'mssql'
  - name: KC_DB_URL
    value: 'jdbc:sqlserver://${SQLSERVER_HOST}:${SQLSERVER_PORT};databaseName=${SQLSERVER_DATABASENAME};'
  - name: KC_DB_SCHEMA
    value: 'dbo'

# Configurations on: https://artifacthub.io/packages/helm/bitnami/keycloak

# Keycloak/keycloak-values.yaml
#keycloakConfigCli:
#  image:
#    repository: bitnamilegacy/keycloak-config-cli
#    tag: 6.4.0-debian-12-r11
#  enabled: true
#  command:
#    - java
#    - -jar
#    - /opt/bitnami/keycloak-config-cli/keycloak-config-cli.jar
#  
#  existingConfigmap: keycloak-realm-config