name: "Deploy Keycloak Elements"

on:
  workflow_dispatch:
    inputs:
      keycloak_namespace_name:
        required: true
        type: string
        default: "keycloak"
        description: "The Kubernetes namespace where Keycloak will be deployed."
      keycloak_values_file:
        required: true
        type: string
        default: "Keycloak/keycloak-values.yaml"
        description: "The path to the Helm values file for Keycloak deployment. This file should be in the repository and can contain placeholders for secrets that will be replaced during the workflow execution."

jobs:
  deploy_keycloak:
    runs-on: ubuntu-latest
    steps:
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: '3.12.0'

      - name: Get AKS credentials
        run: |
          az aks get-credentials --resource-group ${{ secrets.AZURE_RESOURCE_GROUP }} --name ${{ secrets.AKS_CLUSTER_NAME }}

      - name: Create namespace if not exists
        run: |
          kubectl create namespace ${{ inputs.keycloak_namespace_name }} --dry-run=client -o yaml | kubectl apply -f -
          
      - name: Create Keycloak Realm ConfigMap
        run: |
          kubectl create configmap keycloak-realm-config \
            --from-file=realm-export.json=Keycloak/realm-export.json \
            --namespace ${{ inputs.keycloak_namespace_name }} \
            --dry-run=client -o yaml | kubectl apply -f -
        
      - name: Process Keycloak values file
        run: |
          envsubst < ${{ inputs.keycloak_values_file }} > keycloak-values-processed.yaml
        env:
          SQLSERVER_PORT: ${{ secrets.SQLSERVER_PORT }}
          SQLSERVER_HOST: ${{ secrets.SQLSERVER_HOST }}
          SQLSERVER_DATABASENAME: ${{ secrets.SQLSERVER_DATABASENAME }}
          SQLSERVER_USER: ${{ secrets.SQLSERVER_USER }}
          SQLSERVER_PASSWORD: ${{ secrets.SQLSERVER_PASSWORD }}
          
      - name: Deploy Keycloak to Kubernetes
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo update
          
          helm upgrade --install --atomic --timeout 600s keycloak bitnami/keycloak \
            --namespace ${{ inputs.keycloak_namespace_name }} \
            --create-namespace \
            --values keycloak-values-processed.yaml